.video-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Preenche toda a altura da tela */
  background-color: #ffffff;
  padding: 5px; /* Adiciona um pouco de espaçamento interno */
  box-sizing: border-box;
  margin: 0;
 
}

.video-detail h1{
  color: rgb(213, 34, 34);
  
}

h2 {
  margin-bottom: 10px; /* Espaçamento menor abaixo do título */
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
}

p {
  margin: 5px 0;
  color: rgb(0, 0, 0);
}

#video-player {
  width: 100%; /* O vídeo ocupa toda a largura */
  height: 90vh; /* O vídeo ocupa quase toda a altura da tela */
  aspect-ratio: unset; /* Remove a proporção fixa */
  background-color: black;
  margin: 0; /* Remove os espaçamentos */
}


.box-video-player{
  text-align: center;
   background-color: #ffffff;
   margin-top: 0;
}

@media (max-width: 768px) {
  #video-player {
    max-width: 100%; /* Preenche a largura da tela em dispositivos menores */
    height: auto; /* Ajusta a altura automaticamente */
  }
  .logo-title svg {
    width: 10%;
  }
}

.logout {
  color: #CF1A1A;
}

.logout:hover {
  color: rgb(87, 9, 9);
}

.navbar {
  background-color: white;
}

.container-fluid {
  background-color: white;

}

.views{
  font-size: 13px;
  margin: 11px;
}

.box-views{
  justify-content: left;
  display:  flex;
  align-items: center;
  margin-top: 0;
}
svg{
  width: 5%;
  fill: #ffffff;
  margin: 0;
}


.row {
  margin-top: 50px;
}
