.video-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Preenche toda a altura da tela */
    background-color: #CF1A1A; 
    padding-top: 0;
    box-sizing: border-box;
  }
  
  h2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
  }
  
  #video-player {
    width: 100%;
    max-width: 900px; /* Limite máximo para o vídeo */
    aspect-ratio: 16 / 9; /* Proporção padrão para vídeos */
    background-color: black; /* Cor de fundo para áreas não preenchidas */
  }
  
  @media (max-width: 768px) {
    #video-player {
      max-width: 100%; /* Preenche a largura da tela em dispositivos menores */
      height: auto; /* Ajusta a altura automaticamente */
    }
    .logo-title svg{
        width: 10%;
      }
  }

  
.logout{
    color: #CF1A1A;
}

.logout:hover{
    color: rgb(87, 9, 9);
}

.navbar{
    background-color: white;
}

.container-fluid{
    background-color: white;
}

p{
    color: white;
}

.logo-title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .logo-title svg{
    width: 2%;
    fill: white;
    color: #ffffff;
  }
  