
<h1 style="color: #CF1A1A;" class="p-3 text-center">
    NadTube
</h1>

<form class="d-flex" role="search" (submit)="onSearch()">
  <input 
  class="form-control me-2" 
  type="search" placeholder="Pesquisar vídeos..." 
  [(ngModel)]="searchTerm"
  (input)="onSearch()" 
  aria-label="Search">
  <button class="btn btn-outline-success" type="submit" (click)="onSearch()">Pesquisar</button>
</form>

<div *ngIf="filteredVideos.length > 0" class="video-list">
  <div *ngFor="let video of filteredVideos" class="video-item">
    <h3>{{ video.title }}</h3>
    <p>{{ video.description }}</p>
    <a [routerLink]="['/video', video.id]" class="btn btn-primary">Ver Detalhes</a>
  </div>
</div>

<div *ngIf="filteredVideos.length === 0" class="alert alert-warning">
  Nenhum vídeo encontrado.
</div>


<div class="video-list-container">
    <h2>Lista de vídeos</h2>
  
    <div *ngIf="videos.length === 0" class="loading-message">
      <p>Carregando vídeos...</p>
    </div>
  
    <div *ngIf="videos.length > 0" class="video-grid">
      <div *ngFor="let video of videos" class="video-card">
        <img [src]="video.thumbnail" alt="Thumbnail do vídeo" class="thumbnail" />
        <div class="video-info">
          <h3 class="video-title">{{ video.title }}</h3>
          <p class="video-description">{{ video.description }}</p>
          <button class="watch-button" (click)="watchVideo(video)">Assistir</button>
        </div>
      </div>
    </div>
  </div>
  