button{
    background-color: #CF1A1A;
    border: none;
    width: 50%;
}

button:disabled {
    background-color: #942101;
}

button:hover{
    background-color: #942101;
}

button .registrar{
    background-color: rgb(172, 172, 172);
    color: #CF1A1A;
}

p{
    color: white;
    margin-top: 0;
}

.container-global {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #CF1A1A;
    width: 100%;
    height: 100%;
}

form{
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    display: block;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

label{
    text-align: left;
}

form input[type='password'],input[type='email']{
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 3 solid #0000;
}

form input[type='checkbox']{
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin-right: 0%;
}
.naopossuiconta{
    margin-top: 15px;
    margin-bottom: 1px;
}
.mb-3 form-check{
    justify-content: center;
}

.logo-title{
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .logo-title svg{
    width: 2.5%;
    fill: white;
    color: #ffffff;
  }

  /* Media query para telas menores */
@media (max-width: 768px) {
    .container-global {
        padding: 10px;
    }

    form {
        padding: 60px 40px;
        width: 90%; /* Ocupa toda a largura disponível */
    }

    form input[type='password'], input[type='email'] {
        width: 100%; /* Ajustado para caber na tela */
    }

    button {
        width: 100%; /* Botão ocupa toda a largura */
    }

    .logo-title h1 {
        font-size: 30px; /* Texto menor em telas menores */
    }

    .logo-title svg {
        width: 5%; /* Ajustado para não ocupar muito espaço */
    }
}